.root{
  margin:3rem;
  border:1px solid black;
  padding:0.5rem;
  width: 18rem;
  border-radius: 4px;
}
.flex {
  display: flex;
}
.pointer {
  cursor: pointer;
}
.rootDiv {
  display: flex;
  padding-left: 8px;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.verticalCenter{
  display: flex;
  align-items: center;
}
.mR8{
  margin-right:0.25rem
}
.hover{
  background-color:rgb(237, 237, 237);
  border-radius:4px;
  padding:2px
}
