.flex {
  display: flex;
}
.pointer {
  cursor: pointer;
}
.rootDiv {
  display: flex;
  gap: 0.5rem;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.verticalCenter{
  display: flex;
  align-items: center;
}
.mR8{
  margin-right:0.25rem
}
.m48{
  margin:3rem;
}
.hover{
  background-color:rgb(237, 237, 237);
  border-radius:4px
}
